{% load static %}
<link rel="stylesheet" href="{% static 'partitions/partition_edit.css' %}">
<link rel="stylesheet" href="{% static 'main_color_scheme.css' %}">
<link rel="stylesheet" href="{% static 'regular_styles.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>New Partition Page</title>
</head>
<body class="background">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" class="anchor_wrap outline text button_hover background">
    </form>
    <a href="{% url 'users:home' %}" class="anchor_wrap outline text button_hover"> Cancel </a>
</body>
</html>
