{% load static %}
<link rel="stylesheet" href="{% static 'main_color_scheme.css' %}">
<link rel="stylesheet" href="{% static 'regular_styles.css' %}">
<link rel="stylesheet" href="{% static 'partitions/partition.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>{{ partition_data }} Partition</title>
</head>
<body class="background">
    {% if partition_data %}
        <h1 class="text heading_text"> Partition: {{ partition_data.label }} - ${{partition_data.current_amount}} </h1>
    <p class="partition_details text"> {{ partition_data.description }} </p>
    {% else %}
    <p> Context didn't work </p>
    {% endif %}
    <div class="button_container">
        {% if not partition_data.is_unallocated %}
        <a href="{% url 'partitions:remove_partition' partition_data.id %}" class="anchor_wrap text outline button_hover"> Remove Partiton </a>
        <a href="{% url 'partitions:edit_partition' partition_data.id %}" class="anchor_wrap text outline button_hover"> Edit Partiton </a>
        <a href="{% url 'partitions:rule_expr_view' partition_data.id %}" class="anchor_wrap text outline button_hover"> Add Rule </a>
        {% endif %}
        <a href="{% url 'users:home' %}" class="anchor_wrap text outline button_hover"> Back </a>
    </div>
    {% if messages %}
    <ul class="messages sector right_justified">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }} text inner_sector"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
