cryptography==3.4.8
Django==4.2.6
django-appconf==1.0.5
django-cors-headers==4.3.0
django-cryptography==1.1
django-oauth-toolkit==2.3.0
django-stubs==4.2.6
django-stubs-ext==4.2.5
django-types==0.19.1
djangorestframework==3.14.0
gunicorn==21.2.0
httplib2==0.20.2
oauthlib==3.2.0
