apt-clone==0.2.1
apturl==0.5.2
asgiref==3.7.2
Brlapi==0.8.3
certifi==2020.6.20
chardet==4.0.0
configobj==5.0.6
contourpy==1.2.0
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
Django==4.2.6
django-appconf==1.0.5
django-cors-headers==4.3.0
django-cryptography==1.1
django-oauth-toolkit==2.3.0
django-stubs==4.2.6
django-stubs-ext==4.2.5
django-types==0.19.1
djangorestframework==3.14.0
gunicorn==21.2.0
httplib2==0.20.2
msgpack==1.0.7
nemo-emblems==5.8.0
netaddr==0.8.0
oauthlib==3.2.0
