{% load static %}
<link rel="stylesheet" href="{% static 'logins/signup.css' %}">
<link rel="stylesheet" href="{% static 'main_color_scheme.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body class="background">
    <h2 class="text">Signup</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Signup</button>
    </form>
    <br>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <a href="{% url 'logins:login' %}" class="anchor_wrap text outline"> Back to Login </a>
</body>
</html>
