{% load static %}
<link rel="stylesheet" href="{% static 'logins/regular_styles.css' %}">
<link rel="stylesheet" href="{% static 'logins/main_color_scheme.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>Transfer</title>
</head>
<body class="background">
    <h2 class="text">Transfer</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="anchor_wrap text outline button button_hover" type="submit"> Transfer </button>
    </form>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <a href="{% url 'users:home' %}" class="anchor_wrap text outline"> Cancel </a>
</body>
</html>
