{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>{{ user.username }} Home Page</title>
</head>
<body>
    <h1> Hello {{ user.first_name }} </h1>
    <br>
    {% for p in user_parts %}
    <a href="{% url 'users:partition' p.id %}" class="partition_wrap_link">
        <div class="partition_wrap">
            <p class="partition_label"> {{ p.label }} </p>
            <p class="partition_amount"> ${{ p.current_amount }} </p>
        </div>
    </a>
    {% endfor %}
    <br>
    <a href="{% url 'users:add_partition' %}" class="anchor_wrap"> Create a Partiton </a>
    <a href="{% url 'users:logout' %}" class="anchor_wrap"> Logout </a>
</body>
</html>
