{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>{{ user.username }} Home Page</title>
</head>
<body>
    <h1> Hello {{ user.first_name }} </h1>
    <br>
    {% for p in user_parts %}
    <div class="partition_wrap">
      <a href="{% url 'users:partition' p.id %}"> {{ p.label }} - ${{ p.current_amount }} </a><br><br>
    </div>
    {% endfor %}
    <div class="anchor_wrap">
      <a href="{% url 'users:add_partition' %}"> Create a Partiton </a><br><br>
    </div>
    <div class="anchor_wrap">
      <a href="{% url 'users:logout' %}"> Logout </a>
    </div>
</body>
</html>
