{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="textual_input">
          <input type="text" name="username" class="text_input", placeholder="Username"><br><br>
        </div>
        <div class="textual_input">
          <input type="password" name="password" class="text_input" placeholder="Password"><br><br>
        </div>
        <input type="submit" value="Login">
    </form>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <br>
    <a href="{% url 'users:signup' %}"> Sign Up </a>
</body>
</html>
