{% load static %}
<link rel="stylesheet" href="{% static 'partition.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>{{ partition_data }} Partition</title>
</head>
<body>
    {% if partition_data %}
    <h1> Partition: {{ partition_data.label }} </h1>
    <p class="partition_detail"> Current Amount: ${{ partition_data.current_amount }} </p>
    {% else %}
    <p> Context didn't work </p>
    {% endif %}
    <a href="{% url 'users:remove_partition' partition_data.id %}" class="anchor_wrap"> Remove Partiton </a>
    <a href="{% url 'users:edit_partition' partition_data.id %}" class="anchor_wrap"> Edit Partiton </a>
    <a href="{% url 'users:home' %} " class="anchor_wrap"> Back </a>

</body>
</html>
