<!DOCTYPE html>
<html>
<head>
    <title>{{ partition_data }} Partition</title>
</head>
<body>
    {% if partition_data %}
    <h1> {{ partition_data.label }} </h1>
    <p> Current Amount: ${{ partition_data.current_amount }} </p>
    {% else %}
    <p> Context didn't work </p>
    {% endif %}
    <a href="{% url 'users:remove_partition' partition_data.id %}"> Remove Partiton </a><br><br>
    <a href="{% url 'users:edit_partition' partition_data.id %}"> Edit Partiton </a><br><br>
    <a href="{% url 'users:home' %}"> Back </a>

</body>
</html>
