{% load static %}
<link rel="stylesheet" href="{% static 'partition.css' %}">
<link rel="stylesheet" href="{% static 'regular_styles.css' %}">
<link rel="stylesheet" href="{% static 'main_color_scheme.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>{{ partition_data }} Partition</title>
</head>
<body class="background">
    {% if partition_data %}
    <h1 class="text"> Partition: {{ partition_data.label }} </h1>
    <p class="partition_details text"> Current Amount: ${{ partition_data.current_amount }} </p>
    {% else %}
    <p> Context didn't work </p>
    {% endif %}

    <a href="{% url 'users:remove_partition' partition_data.id %}" class="anchor_wrap text outline button_hover"> Remove Partiton </a>
    <a href="{% url 'users:edit_partition' partition_data.id %}" class="anchor_wrap text outline button_hover"> Edit Partiton </a>
    <a href="{% url 'users:home' %} " class="anchor_wrap text outline button_hover"> Back </a>

</body>
</html>
