
h1 {
    margin-left: 20px;
    margin-top: 30px;
    text-decoration: underline;
    font-family: monospace;
    font-size: 40px;
}

.partition_wrap_link{
    display: inline-block;
    text-decoration: none;
    /* color: inherit; */
    vertical-align: top;
}

.partition_wrap {
    display: flex;
    flex-direction: column;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 20vh; 
    height: 20vh;
    padding: 5px;
    vertical-align: top;
    transition: background-color, scale 0.3s;
    margin-left: 10px;
}

.partition_wrap:hover {
  scale: 105%;
}

.partition_wrap:active{
  background-color: grey;
}

.partition_label {
    text-align: center;

    font-size: 23px;
}

.partition_amount {
    text-align: center;
    margin-top:auto;
    font-size: 20px;
}

