h1 {
    /* margin-left: 20px; */
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
    font-size: var(--header-size);
}

h2{
    text-align: center;
}

.partition_wrap_link{
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
}

.partition_wrap {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 60vw; 
    height: 10vh;
    padding: 5px;
    vertical-align: top;
    transition: background-color, scale 0.3s;
    /* margin-left: 10px; */
    margin-top: 10px;
}

.partition_wrap:hover {
  scale: 105%;
}

.partition_wrap:active{
  background-color: grey;
}

.partition_label {
    text-align: left;
    font-size: var(--text-size);
}

.partition_amount {
    text-align: right;
    font-size: 25px;
}

.unalloct_link {
    margin-bottom: 50px;
}

.unallocated {
    order: 1;
    text-decoration: none;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    height: 10vh;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
    transition: background-color, scale 0.3s;
    margin-bottom: 50px;
}

.unallocated:hover {
  scale: 105%;
}

.unallocated:active{
  background-color: grey;
}

.partition_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.login_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.home_page_buttons {
    position:fixed;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dots {
    flex-grow: 1;
    border-top: 3px dotted #704F70;
    margin: auto 0;
    position: relative;
    bottom: -8px;
}

.home_scree_buttons {
    font-size: 3vw;
    padding: 1vw;
}
