input[type="submit"]{
  display: block;
  margin-left: 20px;
  margin-top: 20px;

  font-size: 27px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-width: 0px;
  /* border-radius: 10px; */
  /* border-color: blue; */

  transition: background-color, scale 0.3s;

    background-color: inherit;
}

input[type="submit"]:hover {
  background-color: lightgrey;
  scale: 105%;
}


input[type="submit"]:active() {
  background-color: grey;
}

input[type="text"], input[type="number"] {
    height: 40px;
    padding: 20px;

    color: #704F70;
    background-color: inherit;
    border-width: 3px;
    border-radius: 10px;
    border-color: #806460;

    left: 20px;
    font-size: 23px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    margin-left: 20px;
}

label{
    color: #704F70;
    font-size: 20px;
    font-family: monospace;
    margin-left: 20px;
}

