@font-face {
    font-family: "Russo One";
    src: url("/static/RussoOne-Regular.ttf");
}
@font-face {
    font-family: "Bungee";
    src: url("Bungee-Regular.ttf")
}
@font-face {
    font-family: "Rubik";
    src: url("RubikMonoOne-Regular.ttf")
}
@font-face {
    font-family: "Audiowide";
    src: url("Audiowide-Regular.ttf")
}
@font-face {
    font-family: "BowlbyOneSC";
    src: url("BowlbyOneSC-Regular.ttf")
}
@font-face{
    font-family: "Orbitron";
    src: url('/static/Orbitron-VariableFont_wght.ttf')
}
@font-face {
    font-family: "Montserrat";
    src: url('/static/Montserrat-VariableFont_wght.ttf')
}
.anchor_wrap {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;

    font-size: 23px;
    /* font-family: monospace; */
    font-family: "Montserrat";
    text-align: center;

    outline-style: solid;
    outline-width: 2px;
    
    /* margin-top: 30px; */
    /* margin-left: 20px; */
    margin: .5vh;

    padding: 1vh;

    transition: background-color, scale 0.3s;
    cursor: pointer;
    height: 5vh;

    line-height: 5vh;
}

.anchor_wrap:hover {
  scale: 105%;
}

.anchor_wrap:active{
  background-color: grey;
}

.button_like {
    outline-width: 2px;
    outline-style: solid;
    transition: background-color, scale 0.3s;
    cursor: pointer;
}

.button_like:hover{
    scale:105%;
}

.button_like:active{
    background-color:grey;
}

.button {
    background-color: inherit;
    line-height: 0vh;
    border-width: 0px;
}

.left_justified {
    left: 30px;
}

.right_justified {
    right: 30px;
}

.sector {
    position:fixed;
    top: 5px;
    display: flex;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    width: 50vh; 
    padding: 5px;
    vertical-align: top;
    transition: background-color, scale 0.3s;
    margin-left: 10px;
    margin-top: 10px;
}

.inner_sector {
    list-style-type: square;
    list-style-position: inside;
    font-size: 20px;
}

.success {
    color: #228B22;
}
.error {
    color: #882D17;
}

.heading_text {
    font-family: 'Rubik';
}

.subheading_text {
    font-family: "Orbitron";
}
